<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img ion-right class="navbarLogo" src="assets/imgs/Logo.png">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <p> Share Count is the free android application that helps 
   in splitting the bills & the expenditure between friends & family.
  It removes the complexity of parting long bills into larger groups. 
  It is a flexible app that makes sure everyone is paid
  back the amount he/she invests.
  <p> Now you don’t have to think twice before going out with the group.</p>
  <p>If you have any query please <a href="https://www.f5buddy.com/contact-us/?utm_source=sharecount&utm_medium=android"> contact us.</a></p>
</ion-content>