<ion-header>
  <ion-navbar>
    <ion-title>Login Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list  *ngIf="!otpInput">
  <ion-item>
    <ion-input type="number" value="" [(ngModel)]="userData.mobile" placeholder="Mobile Number"></ion-input>
  </ion-item>
  <button ion-button block color="primary" (click)="login()">Send (OTP)</button>
</ion-list>


<ion-list *ngIf="otpInput">
  <ion-item>
    <ion-label >OTP</ion-label>
    <ion-input type="number" value="" [(ngModel)]="userData.otp"></ion-input>
  </ion-item>
  <button ion-button block color="primary" (click)="verifyOTP()">Login</button>
</ion-list>
</ion-content>
