<ion-header>
  <ion-navbar>
    <ion-title>{{eventname}}</ion-title>
    <span style="margin-left: 10px">{{ start_date | date: 'dd-MMM-yyyy'}} To {{ end_date | date: 'dd-MMM-yyyy'}}</span>
  </ion-navbar>
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem1()">
    <ion-list>
      <ion-card class="cards-list-demo">
        <ion-item>
          <ion-input type="text" [(ngModel)]="eventname" placeholder="Event Name *" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="start_date" placeholder="Start Date *" formControlName="start_date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="end_date" placeholder="End Date *" formControlName="end_date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-textarea placeholder="Enter a description *" [(ngModel)]="description" formControlName="description"></ion-textarea>
        </ion-item>
      </ion-card>

      <ion-card class="cards-list-demo">
        <ion-toolbar>
          <ion-buttons start>
          </ion-buttons>
          <h2 padding> Person Details</h2>
          <ion-buttons end>
            <a ion-button icon-only color="royal">
              <ion-icon name="person"></ion-icon>
            </a>
          </ion-buttons>
        </ion-toolbar>

        <ion-item-sliding *ngFor="let member of eventUser">

          <ion-list *ngIf=" member.id != create_by " ion-item>{{member.first_name}} {{member.last_name}} ({{member.mobile}})</ion-list>
          <ion-item-options>
            <button ion-button color="danger" (click)="deleteEventmember(member.invite_id)">Delete</button>
          </ion-item-options>

        </ion-item-sliding>
      </ion-card>

      <div padding>
        <button [disabled]="!isReadyToSave" ion-button color="primary" block>Update Event </button>
      </div>
    </ion-list>
  </form>
</ion-content>