
<ion-header>

  <ion-navbar>
    <ion-title>Expense Summary</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  
  <ion-grid>
  
    <ion-row>
      <ion-col col-3><b>Person</b>  </ion-col>
      <ion-col col-3><b>Spent</b> </ion-col>
      <ion-col col-3><b>Share By</b></ion-col>
      <ion-col col-3><b>Due/Refund</b> </ion-col>
    </ion-row>
    
    
    <ion-row *ngFor="let member of eventUser" (click)="expenseSingleUser1(member.id)">
   
      <ion-col col-3 class="link"> {{member.first_name}} </ion-col>
      <ion-col col-3> {{member.total_expenses}} </ion-col>
      <ion-col col-3> {{member.expenses_per_user}} </ion-col>
      <ion-col col-3> {{member.expenses_due_user}} </ion-col>
   
      
    </ion-row>
      
      <ion-row>
        <ion-col col-3> <b>Total</b> </ion-col>
        <ion-col col-3> <b>{{total_expenses}}</b> </ion-col>
        <ion-col col-3> </ion-col>
        <ion-col col-3> </ion-col>
      </ion-row>

  </ion-grid>


</ion-content>
