<!-- <ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
     <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-navbar> 
</ion-header> -->


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img ion-right class="navbarLogo" src="assets/imgs/Logo.png">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      <div class="profile-image-wrapper" (click)="getPicture()">
        <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilepic.value">
          <ion-icon name="add"></ion-icon>
          <div>

          </div>
        </div>
        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilepic.value"></div>
      </div>


      <ion-list>
        <ion-item>
          <ion-label>First Name *</ion-label>
          <ion-input type="text" [(ngModel)]="userData.first_name" formControlName="first_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Last Name *</ion-label>
          <ion-input [(ngModel)]="userData.last_name" formControlName="last_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [(ngModel)]="userData.email" formControlName="email"></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <button ion-button block color="primary" (click)="done()">Update</button>


    <!--  <ion-item>
    <ion-label> Edit </ion-label>
    <ion-toggle (ionChange)="editButton1()" checked="false"></ion-toggle>
  </ion-item> -->

  </ion-list>


  <!-- <ion-list *ngIf="!isEdit"> 
   <div class="profile-image-wrapper">
    <div class="profile-image">
      <img [src]="base64Image" />
    </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label> {{userData.first_name}} </ion-label>       
      </ion-item>
      <ion-item>
        <ion-label> {{userData.last_name}} </ion-label>       
      </ion-item>
      <ion-item>
        <ion-label> {{userData.email}} </ion-label>       
      </ion-item>
      <ion-item></ion-item>

    </ion-list> 
    <ion-item>
      <ion-label> Edit </ion-label>
      <ion-toggle (ionChange)="editButton()" checked="true"></ion-toggle>
    </ion-item>
</ion-list> -->



  <ion-item>
    <ion-label> Logout </ion-label>
    <ion-toggle (ionChange)="logout()" checked="true"></ion-toggle>
  </ion-item>


</ion-content>