<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img ion-right class="navbarLogo" src="assets/imgs/Logo.png">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
   
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let item of dataSet;">
    <ion-item>
     <!--  <ion-icon name="trash" item-right (click)="feedDelete(item.id)"></ion-icon> -->
      
      <ion-grid>
        <ion-row>
          <ion-col col-11 (click)="eventView(item.id)">   
          <ion-card-content>
            <p>{{item.name}}</p>
            <p>Stat Date : {{item.start_date | date: 'dd-MMM-yyyy'}}</p>
            <p>End Date : {{item.end_date | date: 'dd-MMM-yyyy'}}</p>
            <!--  <p [innerHTML]="item.name | linky"></p> -->
            <!--   <span>{{this.converTime(item.start_date) | amTimeAgo}}</span> -->
          </ion-card-content>  
          </ion-col>
            <ion-col col-1>
              <ion-row>
                <ion-icon name="eye" item-right (click)="eventView(item.id)"> </ion-icon>
              </ion-row>
              <ion-row>
                <ion-icon name="trash" item-right (click)="eventDelete(item.id)"> </ion-icon>
              </ion-row>
          </ion-col>
      </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card> 

  <ion-card *ngIf="noRecords">
    <ion-item>
      No Records
    </ion-item>
  </ion-card>

<!--  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecords">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-fab bottom right>
    <button ion-fab mini (click)="createEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>