.navbarLogo{
    height: 40px;
    float:left;
    margin-left:10px;
}
page-home {
    .blue{
        color:#006699;
    }
    #udpateBox{
        textarea{
            width:100%;
        }
    }
    .item-md {
        padding-left: 1px;
    }
    .label-md {
        margin: 0px;
    }

}
