<ion-header>
  <ion-navbar>
    <ion-title>{{eventname}}</ion-title>
    <span style="margin-left: 10px">{{ start_date | date: 'dd-MMM-yyyy'}} To {{ end_date | date: 'dd-MMM-yyyy'}}</span>
  </ion-navbar>
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="addexpense()">


    <ion-list>
      <ion-card class="cards-list-demo">

        <ion-item>
          <ion-label fixed>Title *</ion-label>
          <ion-input type="text" [(ngModel)]="title" formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Date *</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="date" formControlName="date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label fixed>Amount *</ion-label>
          <ion-input type="number" [(ngModel)]="money" formControlName="money"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Description *</ion-label>
          <ion-textarea [(ngModel)]="description" formControlName="description"></ion-textarea>
        </ion-item>


        <ion-item>
          <ion-label>Share with all users</ion-label>
          <ion-toggle checked="true" (ionChange)="toggleOnOff($event)"  formControlName="distributeUser" value="All"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="alluser">          
          <ion-label>Select users</ion-label>          
          <ion-select [(ngModel)]="distribution_with_user" formControlName="distributeUser" multiple="true">
            <ion-option *ngFor="let user of eventUser" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</ion-option>
          </ion-select> 
        </ion-item>       

      </ion-card>

      <div padding>
        <button [disabled]="!isReadyToSave" ion-button color="primary" block> Save </button>
      </div>
    </ion-list>
  </form>
</ion-content>