<ion-header>
  <ion-navbar>
    <ion-title> {{first_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
       <b> Total Expense ({{total_expenses}}) </b>
    
    </ion-card-header>
    <hr>

   <ion-list *ngFor="let expenses of userEx;">
      <ion-card-content>
        <p>{{expenses.title}}</p>
        <p>Expenses Date {{expenses.ex_date | date: 'dd-MMM-yyyy'}}</p>
        <p>Expenses Amount :{{expenses.money}}</p>
      <!--   <p>Expenses By : {{expenses.first_name}}</p> -->
        <p>Expenses Add By : {{expenses.ex_added_user}}</p>
        <p>{{expenses.description}}</p>
      </ion-card-content>
      <hr>
    </ion-list>  
  </ion-card>
</ion-content>