


<ion-content padding id="welcome" > 
<div class="logo_div">
<img src="assets/imgs/Icon.png" class="logo">
<h2> Welcome to Share Count App </h2>
</div>

<button ion-button block class="marginTop" (click)="signup()">Signup</button>
<button ion-button block color="lightprimary" (click)="login()">Login</button>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title> 
        <p> © Copyright {{year}}. All Rights Reserved.</p>
        <p id="link_w">
            <a href="https://www.f5buddy.com/services/mobile-application-development/?utm_source=sharecount&utm_medium=android" target="_blank">Mobile App Development</a> by
            <a href="http://www.f5buddy.com/?utm_source=sharecount&utm_medium=android" target="_blank">F5 Buddy</a>
        </p>
        </ion-title>
    </ion-toolbar>
</ion-footer>