page-welcome {
#welcome{
    background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top:50px
    }
    .marginTop{
        margin-top:100px;
    }
    .logo{
        height: 220px;
    }
    .logo_div {

        text-align: center;
    }
}
    .toolbar-title-md {
        font-size:12px;
        text-align: center;
    }
    #link_w a {
        color: #ffff !important;
        text-decoration:none;
        word-spacing: 1px;
    }
    p {
        margin: 4px;
    }
 .toolbar-content #link_w a{
    color: #fff !important;
  }
}
