<ion-header>
  <ion-navbar>
    <ion-title>{{eventname}}</ion-title>
    <span style="margin-left: 10px">{{ start_date | date: 'dd-MMM-yyyy'}} To {{ end_date | date: 'dd-MMM-yyyy'}}</span>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-card class="cards-list-demo">
      <ion-item *ngFor="let member of eventUser">
        <ion-avatar item-start>
          <button ion-fab (click)="expenseSingleUser(member.id)">
           {{member.first_name.charAt(0).toUpperCase()}} 
          </button>
        </ion-avatar>

        <h3 *ngIf=" member.id == create_by ">{{member.first_name}} (Admin) </h3>
        <h3 *ngIf=" member.id != create_by ">{{member.first_name}} </h3>
        <p>{{member.total_expenses}}</p>
        
        
        <button *ngIf="uesr_id==create_by" ion-button clear item-end (click)="Addexpense(member.invite_id)">
          <ion-icon name="add"></ion-icon>
        </button>

 
        <button *ngIf="uesr_id==member.id && uesr_id!=create_by" ion-button clear item-end (click)="Addexpense(member.invite_id)">
          <ion-icon name="add"></ion-icon>
        </button>
     
      <hr>
      </ion-item>
    </ion-card>
  </ion-list>


  <ion-card class="cards-list-demo">
    <button ion-item (click)="expenseDetails()">
        <ion-icon name="ios-cash" item-start></ion-icon>
        Total ({{total_expenses}})
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>      
    </button>

    <button ion-item (click)="expenseSummary()">     
      <ion-icon name="ios-clipboard" item-start></ion-icon>
      Expense Summary
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>      
    </button>

   <!--  <button ion-item (click)="expenseChart()">
        <ion-icon name="ios-stats" item-start></ion-icon>
        Stats
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button> -->
  </ion-card>

  <ion-fab bottom right *ngIf="uesr_id==create_by">
    <button ion-fab mini (click)="presentActionSheet()">
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
  </ion-fab>
</ion-content>