<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img ion-right src="assets/imgs/logo.jpg" class="navbarLogo" />
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list *ngIf="!otpInput">

  <ion-item>
    <ion-label fixed>First Name *</ion-label>
    <ion-input type="text"  [(ngModel)]="userData.first_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Last Name *</ion-label>
    <ion-input type="text"  [(ngModel)]="userData.last_name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Email</ion-label>
    <ion-input type="text"  [(ngModel)]="userData.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Mobile *</ion-label>
    <ion-input type="number" [(ngModel)]="userData.mobile"></ion-input>
  </ion-item>

  <button ion-button block color="primary" (click)="doSignup()">Signup</button>
</ion-list>


  <ion-list *ngIf="otpInput">
    <ion-item>
      <ion-label>OTP</ion-label>
      <ion-input type="number" value="" [(ngModel)]="userData.otp"></ion-input>
    </ion-item>
    <button ion-button block color="primary" (click)="verifyOTP()">Login</button>
  </ion-list>
  
  <a href="#" (click)="login()">Login Page</a>
</ion-content>