<ion-header>
  <ion-navbar>
    <ion-title>Create Event</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createEvent()">
    <ion-list>
      <ion-card class="cards-list-demo">
        <ion-item>
          <ion-input type="text" placeholder="Event Name *" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-datetime  displayFormat="MMM DD YYYY" placeholder="Start Date *" formControlName="start_date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-datetime displayFormat="MMM DD YYYY" placeholder="End Date *" formControlName="end_date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-textarea placeholder="Enter a description" formControlName="description"></ion-textarea>
        </ion-item>
      </ion-card>

      <ion-card class="cards-list-demo">
        <ion-toolbar>
          <ion-buttons start>
          </ion-buttons>
          <h2 padding> Person Details</h2>
          <ion-buttons end>
            <a (click)="addEventMember()" ion-button icon-only color="royal">
              <ion-icon name="person-add"></ion-icon>
            </a>
          </ion-buttons>
        </ion-toolbar>

        <ion-item-sliding ng-if="items" *ngFor="let member of eventUser">
          <ion-list ion-item>{{member.first_name}} ({{member.mobile}}) </ion-list>
          <ion-item-options>
            <button ion-button color="danger" (click)="deleteEventmember(member)">Delete</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>


      <div padding>
        <button [disabled]="!isReadyToSave" ion-button color="primary" block>Add Event </button>
      </div>
    </ion-list>
  </form>
</ion-content>